// Metro colors
$metro_lightblue: #00889e;
$metro_blue: #0a55bd;
$metro_purple: #603cba;
$metro_pink: #b01a40;
$metro_green: #008d00;
$metro_red: #9a1616;
$metro_orange: #d44b28;
$metro_yellow: #fdd115;
