// Metro colors
$metro_lightblue: #00889e;
$metro_blue: #0a55bd;
$metro_purple: #603cba;
$metro_pink: #b01a40;
$metro_green: #008d00;
$metro_red: #9a1616;
$metro_orange: #d44b28;
$metro_yellow: #fdd115;

$metro_light_blue: #96c8e6;
$metro_light_purple: #c4a0ff;
$metro_light_pink: #ff7ea4;
$metro_light_green: #64f164;
$metro_light_red: #fe7a7a;
$metro_light_orange: #ffaf8c;
$metro_light_yellow: #ffff79;