@mixin close-icon {
	@include m-icon($metrize-cross);
}
@mixin camera-icon {
	@include fa-icon($fa-camera);
}


// Font setup
// --------------------------

$fontawesome: 'FontAwesome';
$metrize: 'Metrize-Icons';
$font-path: "../fonts";
$fa-version: "4.0.3";

@font-face {
	font-family: $fontawesome;
	src: url('#{$font-path}/fontawesome-webfont.eot?v=#{$fa-version}');
	src: url('#{$font-path}/fontawesome-webfont.eot?#iefix&v=#{$fa-version}') format('embedded-opentype'),
		url('#{$font-path}/fontawesome-webfont.woff?v=#{$fa-version}') format('woff'),
		url('#{$font-path}/fontawesome-webfont.ttf?v=#{$fa-version}') format('truetype'),
		url('#{$font-path}/fontawesome-webfont.svg?v=#{$fa-version}#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Metrize-Icons';
	src:url('#{$font-path}/Metrize-Icons.eot');
	src:url('#{$font-path}/Metrize-Icons.eot?#iefix') format('embedded-opentype'),
		url('#{$font-path}/Metrize-Icons.woff') format('woff'),
		url('#{$font-path}/Metrize-Icons.ttf') format('truetype'),
		url('#{$font-path}/Metrize-Icons.svg#Metrize-Icons') format('svg');
	font-weight: normal;
	font-style: normal;
}


// Help mixins
// --------------------------

@mixin icon($family, $icon) {
	&:before {
		font-family: $family;
		content: $icon;
		speak: none;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
	}
}
@mixin fa-icon($icon) {
	@include icon($fontawesome, $icon);
}
@mixin m-icon($icon) {
	@include icon($metrize, $icon);
}


// Variables
// --------------------------

$fa-glass: "\f000";
$fa-music: "\f001";
$fa-search: "\f002";
$fa-envelope-o: "\f003";
$fa-heart: "\f004";
$fa-star: "\f005";
$fa-star-o: "\f006";
$fa-user: "\f007";
$fa-film: "\f008";
$fa-th-large: "\f009";
$fa-th: "\f00a";
$fa-th-list: "\f00b";
$fa-check: "\f00c";
$fa-times: "\f00d";
$fa-search-plus: "\f00e";
$fa-search-minus: "\f010";
$fa-power-off: "\f011";
$fa-signal: "\f012";
$fa-cog: "\f013";
$fa-trash-o: "\f014";
$fa-home: "\f015";
$fa-file-o: "\f016";
$fa-clock-o: "\f017";
$fa-road: "\f018";
$fa-download: "\f019";
$fa-arrow-circle-o-down: "\f01a";
$fa-arrow-circle-o-up: "\f01b";
$fa-inbox: "\f01c";
$fa-play-circle-o: "\f01d";
$fa-repeat: "\f01e";
$fa-refresh: "\f021";
$fa-list-alt: "\f022";
$fa-lock: "\f023";
$fa-flag: "\f024";
$fa-headphones: "\f025";
$fa-volume-off: "\f026";
$fa-volume-down: "\f027";
$fa-volume-up: "\f028";
$fa-qrcode: "\f029";
$fa-barcode: "\f02a";
$fa-tag: "\f02b";
$fa-tags: "\f02c";
$fa-book: "\f02d";
$fa-bookmark: "\f02e";
$fa-print: "\f02f";
$fa-camera: "\f030";
$fa-font: "\f031";
$fa-bold: "\f032";
$fa-italic: "\f033";
$fa-text-height: "\f034";
$fa-text-width: "\f035";
$fa-align-left: "\f036";
$fa-align-center: "\f037";
$fa-align-right: "\f038";
$fa-align-justify: "\f039";
$fa-list: "\f03a";
$fa-outdent: "\f03b";
$fa-indent: "\f03c";
$fa-video-camera: "\f03d";
$fa-picture-o: "\f03e";
$fa-pencil: "\f040";
$fa-map-marker: "\f041";
$fa-adjust: "\f042";
$fa-tint: "\f043";
$fa-pencil-square-o: "\f044";
$fa-share-square-o: "\f045";
$fa-check-square-o: "\f046";
$fa-arrows: "\f047";
$fa-step-backward: "\f048";
$fa-fast-backward: "\f049";
$fa-backward: "\f04a";
$fa-play: "\f04b";
$fa-pause: "\f04c";
$fa-stop: "\f04d";
$fa-forward: "\f04e";
$fa-fast-forward: "\f050";
$fa-step-forward: "\f051";
$fa-eject: "\f052";
$fa-chevron-left: "\f053";
$fa-chevron-right: "\f054";
$fa-plus-circle: "\f055";
$fa-minus-circle: "\f056";
$fa-times-circle: "\f057";
$fa-check-circle: "\f058";
$fa-question-circle: "\f059";
$fa-info-circle: "\f05a";
$fa-crosshairs: "\f05b";
$fa-times-circle-o: "\f05c";
$fa-check-circle-o: "\f05d";
$fa-ban: "\f05e";
$fa-arrow-left: "\f060";
$fa-arrow-right: "\f061";
$fa-arrow-up: "\f062";
$fa-arrow-down: "\f063";
$fa-share: "\f064";
$fa-expand: "\f065";
$fa-compress: "\f066";
$fa-plus: "\f067";
$fa-minus: "\f068";
$fa-asterisk: "\f069";
$fa-exclamation-circle: "\f06a";
$fa-gift: "\f06b";
$fa-leaf: "\f06c";
$fa-fire: "\f06d";
$fa-eye: "\f06e";
$fa-eye-slash: "\f070";
$fa-exclamation-triangle: "\f071";
$fa-plane: "\f072";
$fa-calendar: "\f073";
$fa-random: "\f074";
$fa-comment: "\f075";
$fa-magnet: "\f076";
$fa-chevron-up: "\f077";
$fa-chevron-down: "\f078";
$fa-retweet: "\f079";
$fa-shopping-cart: "\f07a";
$fa-folder: "\f07b";
$fa-folder-open: "\f07c";
$fa-arrows-v: "\f07d";
$fa-arrows-h: "\f07e";
$fa-bar-chart-o: "\f080";
$fa-twitter-square: "\f081";
$fa-facebook-square: "\f082";
$fa-camera-retro: "\f083";
$fa-key: "\f084";
$fa-cogs: "\f085";
$fa-comments: "\f086";
$fa-thumbs-o-up: "\f087";
$fa-thumbs-o-down: "\f088";
$fa-star-half: "\f089";
$fa-heart-o: "\f08a";
$fa-sign-out: "\f08b";
$fa-linkedin-square: "\f08c";
$fa-thumb-tack: "\f08d";
$fa-external-link: "\f08e";
$fa-sign-in: "\f090";
$fa-trophy: "\f091";
$fa-github-square: "\f092";
$fa-upload: "\f093";
$fa-lemon-o: "\f094";
$fa-phone: "\f095";
$fa-square-o: "\f096";
$fa-bookmark-o: "\f097";
$fa-phone-square: "\f098";
$fa-twitter: "\f099";
$fa-facebook: "\f09a";
$fa-github: "\f09b";
$fa-unlock: "\f09c";
$fa-credit-card: "\f09d";
$fa-rss: "\f09e";
$fa-hdd-o: "\f0a0";
$fa-bullhorn: "\f0a1";
$fa-bell: "\f0f3";
$fa-certificate: "\f0a3";
$fa-hand-o-right: "\f0a4";
$fa-hand-o-left: "\f0a5";
$fa-hand-o-up: "\f0a6";
$fa-hand-o-down: "\f0a7";
$fa-arrow-circle-left: "\f0a8";
$fa-arrow-circle-right: "\f0a9";
$fa-arrow-circle-up: "\f0aa";
$fa-arrow-circle-down: "\f0ab";
$fa-globe: "\f0ac";
$fa-wrench: "\f0ad";
$fa-tasks: "\f0ae";
$fa-filter: "\f0b0";
$fa-briefcase: "\f0b1";
$fa-arrows-alt: "\f0b2";
$fa-users: "\f0c0";
$fa-link: "\f0c1";
$fa-cloud: "\f0c2";
$fa-flask: "\f0c3";
$fa-scissors: "\f0c4";
$fa-files-o: "\f0c5";
$fa-paperclip: "\f0c6";
$fa-floppy-o: "\f0c7";
$fa-square: "\f0c8";
$fa-bars: "\f0c9";
$fa-list-ul: "\f0ca";
$fa-list-ol: "\f0cb";
$fa-strikethrough: "\f0cc";
$fa-underline: "\f0cd";
$fa-table: "\f0ce";
$fa-magic: "\f0d0";
$fa-truck: "\f0d1";
$fa-pinterest: "\f0d2";
$fa-pinterest-square: "\f0d3";
$fa-google-plus-square: "\f0d4";
$fa-google-plus: "\f0d5";
$fa-money: "\f0d6";
$fa-caret-down: "\f0d7";
$fa-caret-up: "\f0d8";
$fa-caret-left: "\f0d9";
$fa-caret-right: "\f0da";
$fa-columns: "\f0db";
$fa-sort: "\f0dc";
$fa-sort-asc: "\f0dd";
$fa-sort-desc: "\f0de";
$fa-envelope: "\f0e0";
$fa-linkedin: "\f0e1";
$fa-undo: "\f0e2";
$fa-gavel: "\f0e3";
$fa-tachometer: "\f0e4";
$fa-comment-o: "\f0e5";
$fa-comments-o: "\f0e6";
$fa-bolt: "\f0e7";
$fa-sitemap: "\f0e8";
$fa-umbrella: "\f0e9";
$fa-clipboard: "\f0ea";
$fa-lightbulb-o: "\f0eb";
$fa-exchange: "\f0ec";
$fa-cloud-download: "\f0ed";
$fa-cloud-upload: "\f0ee";
$fa-user-md: "\f0f0";
$fa-stethoscope: "\f0f1";
$fa-suitcase: "\f0f2";
$fa-bell-o: "\f0a2";
$fa-coffee: "\f0f4";
$fa-cutlery: "\f0f5";
$fa-file-text-o: "\f0f6";
$fa-building-o: "\f0f7";
$fa-hospital-o: "\f0f8";
$fa-ambulance: "\f0f9";
$fa-medkit: "\f0fa";
$fa-fighter-jet: "\f0fb";
$fa-beer: "\f0fc";
$fa-h-square: "\f0fd";
$fa-plus-square: "\f0fe";
$fa-angle-double-left: "\f100";
$fa-angle-double-right: "\f101";
$fa-angle-double-up: "\f102";
$fa-angle-double-down: "\f103";
$fa-angle-left: "\f104";
$fa-angle-right: "\f105";
$fa-angle-up: "\f106";
$fa-angle-down: "\f107";
$fa-desktop: "\f108";
$fa-laptop: "\f109";
$fa-tablet: "\f10a";
$fa-mobile: "\f10b";
$fa-circle-o: "\f10c";
$fa-quote-left: "\f10d";
$fa-quote-right: "\f10e";
$fa-spinner: "\f110";
$fa-circle: "\f111";
$fa-reply: "\f112";
$fa-github-alt: "\f113";
$fa-folder-o: "\f114";
$fa-folder-open-o: "\f115";
$fa-smile-o: "\f118";
$fa-frown-o: "\f119";
$fa-meh-o: "\f11a";
$fa-gamepad: "\f11b";
$fa-keyboard-o: "\f11c";
$fa-flag-o: "\f11d";
$fa-flag-checkered: "\f11e";
$fa-terminal: "\f120";
$fa-code: "\f121";
$fa-reply-all: "\f122";
$fa-mail-reply-all: "\f122";
$fa-star-half-o: "\f123";
$fa-location-arrow: "\f124";
$fa-crop: "\f125";
$fa-code-fork: "\f126";
$fa-chain-broken: "\f127";
$fa-question: "\f128";
$fa-info: "\f129";
$fa-exclamation: "\f12a";
$fa-superscript: "\f12b";
$fa-subscript: "\f12c";
$fa-eraser: "\f12d";
$fa-puzzle-piece: "\f12e";
$fa-microphone: "\f130";
$fa-microphone-slash: "\f131";
$fa-shield: "\f132";
$fa-calendar-o: "\f133";
$fa-fire-extinguisher: "\f134";
$fa-rocket: "\f135";
$fa-maxcdn: "\f136";
$fa-chevron-circle-left: "\f137";
$fa-chevron-circle-right: "\f138";
$fa-chevron-circle-up: "\f139";
$fa-chevron-circle-down: "\f13a";
$fa-html5: "\f13b";
$fa-css3: "\f13c";
$fa-anchor: "\f13d";
$fa-unlock-alt: "\f13e";
$fa-bullseye: "\f140";
$fa-ellipsis-h: "\f141";
$fa-ellipsis-v: "\f142";
$fa-rss-square: "\f143";
$fa-play-circle: "\f144";
$fa-ticket: "\f145";
$fa-minus-square: "\f146";
$fa-minus-square-o: "\f147";
$fa-level-up: "\f148";
$fa-level-down: "\f149";
$fa-check-square: "\f14a";
$fa-pencil-square: "\f14b";
$fa-external-link-square: "\f14c";
$fa-share-square: "\f14d";
$fa-compass: "\f14e";
$fa-caret-square-o-down: "\f150";
$fa-caret-square-o-up: "\f151";
$fa-caret-square-o-right: "\f152";
$fa-eur: "\f153";
$fa-gbp: "\f154";
$fa-usd: "\f155";
$fa-inr: "\f156";
$fa-jpy: "\f157";
$fa-rub: "\f158";
$fa-krw: "\f159";
$fa-btc: "\f15a";
$fa-file: "\f15b";
$fa-file-text: "\f15c";
$fa-sort-alpha-asc: "\f15d";
$fa-sort-alpha-desc: "\f15e";
$fa-sort-amount-asc: "\f160";
$fa-sort-amount-desc: "\f161";
$fa-sort-numeric-asc: "\f162";
$fa-sort-numeric-desc: "\f163";
$fa-thumbs-up: "\f164";
$fa-thumbs-down: "\f165";
$fa-youtube-square: "\f166";
$fa-youtube: "\f167";
$fa-xing: "\f168";
$fa-xing-square: "\f169";
$fa-youtube-play: "\f16a";
$fa-dropbox: "\f16b";
$fa-stack-overflow: "\f16c";
$fa-instagram: "\f16d";
$fa-flickr: "\f16e";
$fa-adn: "\f170";
$fa-bitbucket: "\f171";
$fa-bitbucket-square: "\f172";
$fa-tumblr: "\f173";
$fa-tumblr-square: "\f174";
$fa-long-arrow-down: "\f175";
$fa-long-arrow-up: "\f176";
$fa-long-arrow-left: "\f177";
$fa-long-arrow-right: "\f178";
$fa-apple: "\f179";
$fa-windows: "\f17a";
$fa-android: "\f17b";
$fa-linux: "\f17c";
$fa-dribbble: "\f17d";
$fa-skype: "\f17e";
$fa-foursquare: "\f180";
$fa-trello: "\f181";
$fa-female: "\f182";
$fa-male: "\f183";
$fa-gittip: "\f184";
$fa-sun-o: "\f185";
$fa-moon-o: "\f186";
$fa-archive: "\f187";
$fa-bug: "\f188";
$fa-vk: "\f189";
$fa-weibo: "\f18a";
$fa-renren: "\f18b";
$fa-pagelines: "\f18c";
$fa-stack-exchange: "\f18d";
$fa-arrow-circle-o-right: "\f18e";
$fa-arrow-circle-o-left: "\f190";
$fa-caret-square-o-left: "\f191";
$fa-dot-circle-o: "\f192";
$fa-wheelchair: "\f193";
$fa-vimeo-square: "\f194";
$fa-try: "\f195";
$fa-plus-square-o: "\f196";

$metrize-yen: "\e000";
$metrize-world: "\e001";
$metrize-wireframe-globe: "\e002";
$metrize-wind: "\e003";
$metrize-wifi: "\e004";
$metrize-waves: "\e005";
$metrize-viewport: "\e006";
$metrize-viewport-video: "\e007";
$metrize-user: "\e008";
$metrize-user-remove: "\e009";
$metrize-user-ban: "\e00a";
$metrize-user-add: "\e00b";
$metrize-upload: "\e00c";
$metrize-upload-selection: "\e00d";
$metrize-upload-selection-circle: "\e00e";
$metrize-underline: "\e00f";
$metrize-triple-points: "\e010";
$metrize-top-bottom: "\e011";
$metrize-three-points: "\e012";
$metrize-three-points-top: "\e013";
$metrize-three-points-bottom: "\e014";
$metrize-text-width: "\e015";
$metrize-text-size-upper: "\e016";
$metrize-text-size-reduce: "\e017";
$metrize-text-paragraph: "\e018";
$metrize-text-normal: "\e019";
$metrize-text-justify-right: "\e01a";
$metrize-text-justify-left: "\e01b";
$metrize-text-justify-center: "\e01c";
$metrize-text-height: "\e01d";
$metrize-text-center: "\e01e";
$metrize-text-bold: "\e01f";
$metrize-text-align-right: "\e020";
$metrize-text-align-left: "\e021";
$metrize-telephone: "\e022";
$metrize-sunshine: "\e023";
$metrize-sun: "\e024";
$metrize-stop: "\e025";
$metrize-star: "\e026";
$metrize-speed: "\e027";
$metrize-sound-on: "\e028";
$metrize-sound-off: "\e029";
$metrize-sos: "\e02a";
$metrize-social-zerply: "\e02b";
$metrize-social-youtube: "\e02c";
$metrize-social-yelp: "\e02d";
$metrize-social-yahoo: "\e02e";
$metrize-social-wordpress: "\e02f";
$metrize-social-virb: "\e030";
$metrize-social-vimeo: "\e031";
$metrize-social-viddler: "\e032";
$metrize-social-twitter: "\e033";
$metrize-social-tumblr: "\e034";
$metrize-social-stumbleupon: "\e035";
$metrize-social-soundcloud: "\e036";
$metrize-social-skype: "\e037";
$metrize-social-sharethis: "\e038";
$metrize-social-quora: "\e039";
$metrize-social-pinterest: "\e03a";
$metrize-social-photobucket: "\e03b";
$metrize-social-paypal: "\e03c";
$metrize-social-myspace: "\e03d";
$metrize-social-linkedin: "\e03e";
$metrize-social-last-fm: "\e03f";
$metrize-social-grooveshark: "\e040";
$metrize-social-google-plus: "\e041";
$metrize-social-github: "\e042";
$metrize-social-forrst: "\e043";
$metrize-social-flickr: "\e044";
$metrize-social-facebook: "\e045";
$metrize-social-evernote: "\e046";
$metrize-social-envato: "\e047";
$metrize-social-email: "\e048";
$metrize-social-dribbble: "\e049";
$metrize-social-digg: "\e04a";
$metrize-social-deviantart: "\e04b";
$metrize-social-blogger: "\e04c";
$metrize-social-behance: "\e04d";
$metrize-social-bebo: "\e04e";
$metrize-social-addthis: "\e04f";
$metrize-social-500px: "\e050";
$metrize-snow: "\e051";
$metrize-sliders: "\e052";
$metrize-sliders-vertical: "\e053";
$metrize-sign-male: "\e054";
$metrize-sign-female: "\e055";
$metrize-shield: "\e056";
$metrize-settings: "\e057";
$metrize-setting: "\e058";
$metrize-select-square: "\e059";
$metrize-select-circle: "\e05a";
$metrize-search: "\e05b";
$metrize-scale: "\e05c";
$metrize-rules: "\e05d";
$metrize-rss: "\e05e";
$metrize-retweet: "\e05f";
$metrize-report-comment: "\e060";
$metrize-refresh: "\e061";
$metrize-rec: "\e062";
$metrize-random: "\e063";
$metrize-quote: "\e064";
$metrize-question: "\e065";
$metrize-previous-fast-step: "\e066";
$metrize-prev-step: "\e067";
$metrize-pounds: "\e068";
$metrize-podcast: "\e069";
$metrize-plus: "\e06a";
$metrize-play: "\e06b";
$metrize-pin: "\e06c";
$metrize-pin-map: "\e06d";
$metrize-pig-money: "\e06e";
$metrize-pause: "\e06f";
$metrize-paperclip: "\e070";
$metrize-paperclip-oblique: "\e071";
$metrize-options-settings: "\e072";
$metrize-officine: "\e073";
$metrize-officine-2: "\e074";
$metrize-off: "\e075";
$metrize-number-zero: "\e076";
$metrize-number-two: "\e077";
$metrize-number-three: "\e078";
$metrize-number-six: "\e079";
$metrize-number-seven: "\e07a";
$metrize-number-one: "\e07b";
$metrize-number-nine: "\e07c";
$metrize-number-four: "\e07d";
$metrize-number-five: "\e07e";
$metrize-number-eight: "\e07f";
$metrize-next-step: "\e080";
$metrize-next-fast-step: "\e081";
$metrize-music: "\e082";
$metrize-multi-borders: "\e083";
$metrize-minus: "\e084";
$metrize-marker: "\e085";
$metrize-marker-points: "\e086";
$metrize-marker-minus: "\e087";
$metrize-marker-add: "\e088";
$metrize-map: "\e089";
$metrize-male-symbol: "\e08a";
$metrize-mailbox: "\e08b";
$metrize-mail: "\e08c";
$metrize-magnet: "\e08d";
$metrize-magic-wand: "\e08e";
$metrize-login-lock-refresh: "\e08f";
$metrize-locked: "\e090";
$metrize-location: "\e091";
$metrize-location-maps: "\e092";
$metrize-list-square: "\e093";
$metrize-list-circle: "\e094";
$metrize-link-url: "\e095";
$metrize-line-through: "\e096";
$metrize-limit-directions: "\e097";
$metrize-like-upload: "\e098";
$metrize-like-remove: "\e099";
$metrize-like-download: "\e09a";
$metrize-like-close: "\e09b";
$metrize-like-ban: "\e09c";
$metrize-like-add: "\e09d";
$metrize-left-right: "\e09e";
$metrize-leaf: "\e09f";
$metrize-layers: "\e0a0";
$metrize-landscape: "\e0a1";
$metrize-key: "\e0a2";
$metrize-italic: "\e0a3";
$metrize-info: "\e0a4";
$metrize-idea: "\e0a5";
$metrize-home-wifi: "\e0a6";
$metrize-heart: "\e0a7";
$metrize-hdd: "\e0a8";
$metrize-hdd-raid: "\e0a9";
$metrize-hdd-net: "\e0aa";
$metrize-grids: "\e0ab";
$metrize-grid-big: "\e0ac";
$metrize-graphs: "\e0ad";
$metrize-forward: "\e0ae";
$metrize-fire: "\e0af";
$metrize-female-symbol: "\e0b0";
$metrize-eye: "\e0b1";
$metrize-eye-disabled: "\e0b2";
$metrize-expand: "\e0b3";
$metrize-expand-vertical: "\e0b4";
$metrize-expand-horizontal: "\e0b5";
$metrize-expand-directions: "\e0b6";
$metrize-exclamation: "\e0b7";
$metrize-euro: "\e0b8";
$metrize-email-upload: "\e0b9";
$metrize-email-spam: "\e0ba";
$metrize-email-remove: "\e0bb";
$metrize-email-luminosity: "\e0bc";
$metrize-email-download: "\e0bd";
$metrize-email-close: "\e0be";
$metrize-email-add: "\e0bf";
$metrize-eject: "\e0c0";
$metrize-drops: "\e0c1";
$metrize-drop: "\e0c2";
$metrize-download: "\e0c3";
$metrize-download-selection: "\e0c4";
$metrize-download-selection-circle: "\e0c5";
$metrize-double-diamonds: "\e0c6";
$metrize-dot-square: "\e0c7";
$metrize-dot-line: "\e0c8";
$metrize-dot-circle: "\e0c9";
$metrize-dollar: "\e0ca";
$metrize-documents: "\e0cb";
$metrize-document: "\e0cc";
$metrize-document-fill: "\e0cd";
$metrize-directions: "\e0ce";
$metrize-cross: "\e0cf";
$metrize-credit-card: "\e0d0";
$metrize-copy-paste-document: "\e0d1";
$metrize-copy-document: "\e0d2";
$metrize-contract-vertical: "\e0d3";
$metrize-contract-horizontal: "\e0d4";
$metrize-contract-directions: "\e0d5";
$metrize-compass: "\e0d6";
$metrize-compass-2: "\e0d7";
$metrize-comments: "\e0d8";
$metrize-comment: "\e0d9";
$metrize-coins: "\e0da";
$metrize-cloud: "\e0db";
$metrize-cloud-upload: "\e0dc";
$metrize-cloud-remove: "\e0dd";
$metrize-cloud-download: "\e0de";
$metrize-cloud-add: "\e0df";
$metrize-clock: "\e0e0";
$metrize-circles: "\e0e1";
$metrize-check: "\e0e2";
$metrize-chat: "\e0e3";
$metrize-chart-down: "\e0e4";
$metrize-cd-dvd-rom: "\e0e5";
$metrize-camera: "\e0e6";
$metrize-button-question: "\e0e7";
$metrize-button-minus: "\e0e8";
$metrize-button-exclamation: "\e0e9";
$metrize-button-email: "\e0ea";
$metrize-button-close: "\e0eb";
$metrize-button-check: "\e0ec";
$metrize-button-add: "\e0ed";
$metrize-brush: "\e0ee";
$metrize-browser-sizes: "\e0ef";
$metrize-box-remove: "\e0f0";
$metrize-box-close: "\e0f1";
$metrize-box-blank: "\e0f2";
$metrize-box-add: "\e0f3";
$metrize-bolt: "\e0f4";
$metrize-block-menu: "\e0f5";
$metrize-blank: "\e0f6";
$metrize-bezier: "\e0f7";
$metrize-bars: "\e0f8";
$metrize-ban-circle: "\e0f9";
$metrize-bag: "\e0fa";
$metrize-backward: "\e0fb";
$metrize-axis-rules: "\e0fc";
$metrize-atom: "\e0fd";
$metrize-arrow-up: "\e0fe";
$metrize-arrow-up-thin: "\e0ff";
$metrize-arrow-up-light: "\e100";
$metrize-arrow-up-bold: "\e101";
$metrize-arrow-up-bold-round: "\e102";
$metrize-arrow-up-big: "\e103";
$metrize-arrow-right: "\e104";
$metrize-arrow-right-thin: "\e105";
$metrize-arrow-right-light: "\e106";
$metrize-arrow-right-bold: "\e107";
$metrize-arrow-right-bold-round: "\e108";
$metrize-arrow-right-big: "\e109";
$metrize-arrow-oblique-expand: "\e10a";
$metrize-arrow-oblique-expand-directions: "\e10b";
$metrize-arrow-oblique-contract: "\e10c";
$metrize-arrow-oblique-contract-directions: "\e10d";
$metrize-arrow-multi-line-up: "\e10e";
$metrize-arrow-multi-line-right: "\e10f";
$metrize-arrow-multi-line-left: "\e110";
$metrize-arrow-multi-line-down: "\e111";
$metrize-arrow-left: "\e112";
$metrize-arrow-left-thin: "\e113";
$metrize-arrow-left-light: "\e114";
$metrize-arrow-left-bold: "\e115";
$metrize-arrow-left-bold-round: "\e116";
$metrize-arrow-left-big: "\e117";
$metrize-arrow-fill-up: "\e118";
$metrize-arrow-fill-right: "\e119";
$metrize-arrow-fill-left: "\e11a";
$metrize-arrow-fill-down: "\e11b";
$metrize-arrow-down: "\e11c";
$metrize-arrow-down-thin: "\e11d";
$metrize-arrow-down-light: "\e11e";
$metrize-arrow-down-bold: "\e11f";
$metrize-arrow-down-bold-round: "\e120";
$metrize-arrow-down-big: "\e121";$metrize-arrow-cycling: "\e122";$metrize-arrow-cycle: "\e123";$metrize-arrow-curve-right: "\e124";$metrize-arrow-curve-recycle: "\e125";$metrize-arrow-curve-left: "\e126";$metrize-animal-footprint: "\e127";$metrize-alarm-clock: "\e128";$metrize-air-plane: "\e129";$metrize-adjust: "\e12a";$metrize-cube: "\e12b";