
@mixin size($size) {
	width: $size;
	height: $size;
}

@mixin font-size($size) {
	font-size: $size;
	line-height: $size;
}

@mixin transition($property, $duration) {
	-webkit-transition: $property $duration;
	-moztransition: $property $duration;
	-o-transition: $property $duration;
	-ms-transition: $property $duration;
	transition: $property $duration;
}

@mixin transition-double($trans1, $trans2) {
	-webkit-transition: $trans1, $trans2;
	-moztransition: $trans1, $trans2;
	-o-transition: $trans1, $trans2;
	-ms-transition: $trans1, $trans2;
	transition: $trans1, $trans2;
}

@mixin box-shadow($blur, $spread, $color, $left:0, $top:0) {
	-moz-box-shadow: $left $top $blur $spread $color;
	-webkit-box-shadow: $left $top $blur $spread $color;
	box-shadow: $left $top $blur $spread $color;
}

@mixin clearfix() {
	&:after {
		content: "";
  		display: table;
		clear: both;
	}
}

@mixin pulse-animation($name) {
	animation-name: #{$name};
	-webkit-animation-name: #{$name};
	animation-duration: 2s;
	-webkit-animation-duration: 2s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@mixin define-pulse($name, $property, $from, $to) {
	@keyframes #{$name} {
		0% { #{$property}: $from }
		50% { #{$property}: $to }
		100% { #{$property}: $from }
	}

	@-webkit-keyframes #{$name} {
		0% { #{$property}: $from }
		50% { #{$property}: $to }
		100% { #{$property}: $from }
	}
}