
@mixin size($size) {
	width: $size;
	height: $size;
}

@mixin transition($property, $duration) {
	-webkit-transition: $property $duration;
	-moztransition: $property $duration;
	-o-transition: $property $duration;
	-ms-transition: $property $duration;
	transition: $property $duration;
}

@mixin box-shadow($blur, $spread, $color, $left:0, $top:0) {
	-moz-box-shadow: $left $top $blur $spread $color;
	-webkit-box-shadow: $left $top $blur $spread $color;
	box-shadow: $left $top $blur $spread $color;
}

@mixin clearfix() {
	&:after {
		content: "";
  		display: table;
		clear: both;
	}
}