@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.eot?v=4.0.3");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=4.0.3") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.0.3") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }
  html *, body * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  html h1, html h2, html h3, html h4, body h1, body h2, body h3, body h4 {
    margin: 0;
    font-weight: 100; }
  html ul, body ul {
    margin: 0;
    padding: 0; }
    html ul li, body ul li {
      list-style: none; }

body {
  min-width: 270px;
  font-family: 'Segoe UI', 'Noto Sans', sans-serif;
  font-size: 16px;
  color: #fff;
  -webkit-transition: background-color 1s, color 1s;
  -moztransition: background-color 1s, color 1s;
  -o-transition: background-color 1s, color 1s;
  -ms-transition: background-color 1s, color 1s;
  transition: background-color 1s, color 1s; }
  body img {
    border: none;
    -webkit-transition: -webkit-filter 1s;
    -moztransition: -webkit-filter 1s;
    -o-transition: -webkit-filter 1s;
    -ms-transition: -webkit-filter 1s;
    transition: -webkit-filter 1s; }
  body.scroll-lock {
    overflow: hidden; }

#menu {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  border-bottom: 1px solid #fff;
  -webkit-transition: background-color 1s;
  -moztransition: background-color 1s;
  -o-transition: background-color 1s;
  -ms-transition: background-color 1s;
  transition: background-color 1s; }
  #menu .links ul {
    display: table; }
    #menu .links ul:after {
      content: "";
      display: table;
      clear: both; }
    #menu .links ul li.menu-item {
      float: left;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      -webkit-transition: background-color 0.4s;
      -moztransition: background-color 0.4s;
      -o-transition: background-color 0.4s;
      -ms-transition: background-color 0.4s;
      transition: background-color 0.4s; }
      #menu .links ul li.menu-item.nav-link {
        cursor: pointer; }

#container {
  padding-bottom: 40px; }
  #container .arrow {
    -webkit-transition: opacity 1s;
    -moztransition: opacity 1s;
    -o-transition: opacity 1s;
    -ms-transition: opacity 1s;
    transition: opacity 1s; }
    #container .arrow.hide {
      display: none; }
  #container ul.group {
    width: 100%; }
    #container ul.group h2 {
      font-size: 200%;
      text-transform: capitalize; }
    #container ul.group:after {
      content: "";
      display: table;
      clear: both; }
    #container ul.group li {
      float: left;
      position: relative;
      font-size: 100%;
      color: #fff;
      overflow: hidden;
      -webkit-transition: background-color 1s;
      -moztransition: background-color 1s;
      -o-transition: background-color 1s;
      -ms-transition: background-color 1s;
      transition: background-color 1s; }
      #container ul.group li:hover, #container ul.group li.touching {
        border: 1px solid #fff; }
      #container ul.group li .content {
        display: table;
        position: absolute;
        width: 100%;
        height: 100%; }
        #container ul.group li .content .text {
          text-align: center; }
      #container ul.group li.text-content .content {
        -webkit-transition: left 0.5s;
        -moztransition: left 0.5s;
        -o-transition: left 0.5s;
        -ms-transition: left 0.5s;
        transition: left 0.5s; }
        #container ul.group li.text-content .content.main {
          left: 0; }
        #container ul.group li.text-content .content.alt {
          left: 100%; }
        #container ul.group li.text-content .content .icon,
        #container ul.group li.text-content .content .text {
          display: table-cell;
          vertical-align: middle; }
        #container ul.group li.text-content .content .text {
          padding: 1em; }
        #container ul.group li.text-content .content .icon {
          font-size: 80px;
          line-height: 80px;
          padding: 0.2em;
          text-align: center; }
        #container ul.group li.text-content .content .title {
          text-transform: capitalize; }
      #container ul.group li.image-content {
        background-color: #fff; }
        #container ul.group li.image-content .content {
          -webkit-transition: top 0.5s;
          -moztransition: top 0.5s;
          -o-transition: top 0.5s;
          -ms-transition: top 0.5s;
          transition: top 0.5s; }
          #container ul.group li.image-content .content.main {
            top: 0; }
          #container ul.group li.image-content .content.alt {
            top: 100%; }
          #container ul.group li.image-content .content .text {
            display: table-cell;
            vertical-align: top;
            padding: 0.4em;
            background-color: rgba(0, 0, 0, 0.5); }
          #container ul.group li.image-content .content .image {
            width: 100%;
            height: 100%;
            text-align: center;
            background-color: #000;
            opacity: 0.8;
            -webkit-transition: opacity 1s;
            -moztransition: opacity 1s;
            -o-transition: opacity 1s;
            -ms-transition: opacity 1s;
            transition: opacity 1s; }
            #container ul.group li.image-content .content .image img {
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              max-width: 100%;
              max-height: 180px; }
      #container ul.group li.image-small-content .content {
        -webkit-transition: top 0.5s;
        -moztransition: top 0.5s;
        -o-transition: top 0.5s;
        -ms-transition: top 0.5s;
        transition: top 0.5s; }
        #container ul.group li.image-small-content .content.main {
          top: 0; }
        #container ul.group li.image-small-content .content.alt {
          top: 100%; }
        #container ul.group li.image-small-content .content .text {
          display: table-cell;
          vertical-align: top;
          padding: 0.4em;
          background-color: rgba(0, 0, 0, 0.5); }
        #container ul.group li.image-small-content .content .image {
          width: 100%;
          height: 100%;
          text-align: center;
          opacity: 0.8;
          -webkit-transition: opacity 1s;
          -moztransition: opacity 1s;
          -o-transition: opacity 1s;
          -ms-transition: opacity 1s;
          transition: opacity 1s; }
          #container ul.group li.image-small-content .content .image img {
            height: 100%;
            max-width: 360px;
            max-height: 180px; }

#overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 500; }
  #overlay .mask,
  #overlay .close-btn-container {
    position: absolute;
    width: 98%;
    height: 98%;
    margin: 1%; }
  #overlay .mask {
    z-index: 501;
    border-radius: 3px;
    background-color: #000;
    opacity: 0.9; }
  #overlay .close-btn-container .close-btn {
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 503;
    font-size: 30px;
    line-height: 40px;
    color: #ccc;
    cursor: pointer; }
    #overlay .close-btn-container .close-btn:before {
      font-family: "FontAwesome";
      content: "\f00d";
      speak: none;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased; }
    #overlay .close-btn-container .close-btn:hover {
      color: #fff;
      border-color: #fff; }
    #overlay .close-btn-container .close-btn:active {
      color: #555;
      border-color: #555; }
  #overlay .content {
    position: absolute;
    width: 96%;
    height: 96%;
    margin: 2%;
    padding: 40px;
    z-index: 502;
    overflow-y: scroll; }
    #overlay .content.loading {
      background: url(../img/loading.gif) no-repeat center; }
    #overlay .content .top:after {
      content: "";
      display: table;
      clear: both; }
    #overlay .content .top .icon {
      float: left;
      font-size: 120px;
      line-height: 120px;
      margin-right: 30px; }
    #overlay .content .top .header {
      float: left;
      padding-top: 10px; }
      #overlay .content .top .header h2 {
        padding-bottom: 5px; }
    #overlay .content p {
      padding: 10px 0; }
      #overlay .content p.alert {
        color: #c4a0ff; }
    #overlay .content a {
      color: #ffaf8c;
      text-decoration: none; }
      #overlay .content a:hover {
        text-decoration: underline; }

body.theme-metro {
  background-color: #00889e; }
  body.theme-metro #menu {
    background-color: #00889e; }
    body.theme-metro #menu .links li.nav-link.touching, body.theme-metro #menu .links li.nav-link.active {
      background-color: #603cba; }
    body.theme-metro #menu .links .theme-selector li.theme {
      border: 1px solid #00889e; }
      body.theme-metro #menu .links .theme-selector li.theme:hover, body.theme-metro #menu .links .theme-selector li.theme.touching, body.theme-metro #menu .links .theme-selector li.theme.active {
        border: 1px solid #603cba; }
    @media (max-width: 400px) {
      body.theme-metro #menu .links.hover, body.theme-metro #menu .links.touching {
        background-color: #603cba; } }
  body.theme-metro #container .group li.tile-color1 {
    background-color: #9a1616; }
  body.theme-metro #container .group li.tile-color2 {
    background-color: #d44b28; }
  body.theme-metro #container .group li.tile-color3 {
    background-color: #fdd115; }
  body.theme-metro #container .group li.tile-color4 {
    background-color: #b01a40; }
  body.theme-metro #container .group li.image-small-content {
    background-color: white; }

body.theme-bw {
  background-color: black; }
  body.theme-bw #menu {
    background-color: black; }
    body.theme-bw #menu .links li.nav-link.touching, body.theme-bw #menu .links li.nav-link.active {
      background-color: #999999; }
    body.theme-bw #menu .links .theme-selector li.theme {
      border: 1px solid black; }
      body.theme-bw #menu .links .theme-selector li.theme:hover, body.theme-bw #menu .links .theme-selector li.theme.touching, body.theme-bw #menu .links .theme-selector li.theme.active {
        border: 1px solid #999999; }
    @media (max-width: 400px) {
      body.theme-bw #menu .links.hover, body.theme-bw #menu .links.touching {
        background-color: #999999; } }
  body.theme-bw #container .group li.tile-color1, body.theme-bw #container .group li.tile-color2, body.theme-bw #container .group li.tile-color3, body.theme-bw #container .group li.tile-color4, body.theme-bw #container .group li.image-small-content {
    background-color: #333; }

body.theme-light #menu {
  background-color: white;
  color: #333333; }
  body.theme-light #menu .links li.nav-link.touching, body.theme-light #menu .links li.nav-link.active {
    background-color: #96c8e6; }
  body.theme-light #menu .links .theme-selector li.theme {
    border: 1px solid white; }
    body.theme-light #menu .links .theme-selector li.theme:hover, body.theme-light #menu .links .theme-selector li.theme.touching, body.theme-light #menu .links .theme-selector li.theme.active {
      border: 1px solid #96c8e6; }
  @media (max-width: 400px) {
    body.theme-light #menu .links.hover, body.theme-light #menu .links.touching {
      background-color: #96c8e6; } }
  body.theme-light #menu .contact .icon {
    -webkit-transition: color 1s;
    -moztransition: color 1s;
    -o-transition: color 1s;
    -ms-transition: color 1s;
    transition: color 1s;
    color: #333333; }
body.theme-light #container {
  background-color: white;
  color: #333333; }
  body.theme-light #container .arrow {
    -webkit-transition: opacity 1s, color 1s;
    -moztransition: opacity 1s, color 1s;
    -o-transition: opacity 1s, color 1s;
    -ms-transition: opacity 1s, color 1s;
    transition: opacity 1s, color 1s;
    color: #333333; }
  body.theme-light #container .group li {
    -webkit-transition: color 1s;
    -moztransition: color 1s;
    -o-transition: color 1s;
    -ms-transition: color 1s;
    transition: color 1s; }
    body.theme-light #container .group li.text-content {
      color: #333333; }
      body.theme-light #container .group li.text-content.tile-color1 {
        background-color: #ffaf8c; }
      body.theme-light #container .group li.text-content.tile-color2 {
        background-color: #ffff79; }
      body.theme-light #container .group li.text-content.tile-color3 {
        background-color: #fe7a7a; }
      body.theme-light #container .group li.text-content.tile-color4 {
        background-color: #ff7ea4; }
      body.theme-light #container .group li.text-content.image-small-content {
        background-color: white; }

.icon-computer:before {
  font-family: "FontAwesome";
  content: "\f109";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-photos:before {
  font-family: "FontAwesome";
  content: "\f03e";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-music:before {
  font-family: "FontAwesome";
  content: "\f001";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-docs:before {
  font-family: "FontAwesome";
  content: "\f0f6";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-links:before {
  font-family: "FontAwesome";
  content: "\f0c1";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-example:before {
  font-family: "FontAwesome";
  content: "\f00c";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-home:before {
  font-family: "FontAwesome";
  content: "\f015";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-fb:before {
  font-family: "FontAwesome";
  content: "\f082";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-marker:before {
  font-family: "FontAwesome";
  content: "\f041";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-music:before {
  font-family: "FontAwesome";
  content: "\f001";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-graph:before {
  font-family: "FontAwesome";
  content: "\f080";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-bullseye:before {
  font-family: "FontAwesome";
  content: "\f140";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-plane:before {
  font-family: "FontAwesome";
  content: "\f072";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-flash:before {
  font-family: "FontAwesome";
  content: "\f0e7";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-camera:before {
  font-family: "FontAwesome";
  content: "\f030";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-film:before {
  font-family: "FontAwesome";
  content: "\f008";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }
