@import "colors";
@import "helper";
@import "font-icons";

@mixin smooth-background-transition() {
	@include transition(background-color, 1s);
}

// Reset
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	* {
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}

	h1, h2, h3, h4 {
		margin: 0;
		font-weight: 100;
	}

	ul {
		margin: 0;
		padding: 0;
		li { list-style: none }
	}
}

body {
	min-width: 270px;
	font-family: 'Segoe UI', 'Noto Sans', sans-serif;
	font-size: 16px;
	color: #fff;

	@include transition-double(background-color 1s, color 1s);

	img { 
		border: none;
		@include transition(-webkit-filter, 1s);
	}

	&.scroll-lock {
		overflow: hidden;
	}
}

#menu {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	border-bottom: 1px solid #fff;

	@include smooth-background-transition();

	.links {
		ul {
			display: table;

			@include clearfix;

			li.menu-item {
				float: left;
				display: table-cell;
				vertical-align: middle;
				text-align: center;

				&.nav-link { cursor: pointer }
				
				@include transition(background-color, 0.4s);
			}
		}
	}
}

#container {

	.arrow {
		@include transition(opacity, 1s);
		&.hide { display: none }
	}

	ul.group {
		width: 100%;

		h2 {
			font-size: 200%;
			text-transform: capitalize;
		}

		@include clearfix;

		li {
			float: left;
			position: relative;

			font-size: 100%;
			color: #fff;

			overflow: hidden;

			@include smooth-background-transition();

			&:hover,
			&.touching {
				border: 1px solid #fff;
			}

			.content {
				display: table;
				position: absolute;
				width: 100%;
				height: 100%;

				.text { text-align: center }
			}

			// Title & Icon, Alt text coming in from the right
			&.text-content {
				.content {
					
					&.main { left: 0 }
					&.alt { left: 100% }
					
					@include transition(left, 0.5s);

					.icon,
					.text {
						display: table-cell;
						vertical-align: middle;
					}

					.text { padding: 1em }

					.icon {
						@include font-size(80px);
						padding: 0.2em;
						text-align: center;
					}

					.title { text-transform: capitalize }
				}
			}

			// Image, Alt text coming in from the bottom
			&.image-content {
				background-color: #fff;
				
				.content {

					&.main { top: 0 }
					&.alt { top: 100% }
					
					@include transition(top, 0.5s);

					.text {
						display: table-cell;
						vertical-align: top;
						padding: 0.4em;
						background-color: rgba(0,0,0,0.5);
					}

					.image {
						@include size(100%);

						text-align: center;
						background-color: #000;

						opacity: 0.8;
						@include transition(opacity, 1s);

						img {
							position: absolute;
							left: 0;
							bottom: 0;
							width: 100%;
							max-width: 640px;
							max-height: 320px;
						}
					}
				}
			}
		}
	}
}

// Overlay
#overlay {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 500;

	.mask,
	.close-btn-container {
		position: absolute;
		width: 98%;
		height: 98%;
		margin: 1%;
	}
	.mask {
		z-index: 501;
		border-radius: 3px;
		background-color: #000;
		opacity: 0.9;
	}
	.close-btn-container {
		.close-btn {
			position: absolute;
			right: 10px;
			top: 5px;
			z-index: 503;
			font-size: 30px;
			line-height: 40px;
			color: #ccc;
			cursor: pointer;

			@include icon($icon-times);

			&:hover {
				color: #fff;
				border-color: #fff;
			}

			&:active {
				color: #555;
				border-color: #555;
			}
		}
	}
	.content {
		position: absolute;
		width: 96%;
		height: 96%;
		margin: 2%;
		padding: 40px;
		z-index: 502;
		overflow-y: scroll;

		.top {
			@include clearfix;
		
			.icon {
				float: left;
				font-size: 120px;
				line-height: 120px;
				margin-right: 30px;
			}

			.header {
				float: left;
				padding-top: 10px;

				h2 {
					padding-bottom: 5px;
				}
			}
		}

		p {
			padding: 10px 0;

			&.alert {
				color: $metro-light-purple;
			}
		}

		a {
			color: $metro_light_orange;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

// Color theme: Metro
body.theme-metro {
	background-color: $metro_lightblue;
	#menu { 
		background-color: $metro_lightblue;
		.links {
			li.nav-link {
				&.touching,
				&.active {
					background-color: $metro_purple;
				}
			}
			.theme-selector li.theme {
				border: 1px solid $metro_lightblue;
				&:hover,
				&.touching,
				&.active { 
					border: 1px solid $metro_purple;
				}
			}
			@media (max-width: 400px) {
				// Dropdown menu
				&.hover,
				&.touching { background-color: $metro_purple }
			}
		}
	}
	#container {
		.group li {
			&.tile-color1 { background-color: $metro_red }
			&.tile-color2 { background-color: $metro_orange }
			&.tile-color3 { background-color: $metro_yellow }
			&.tile-color4 { background-color: $metro_pink }
		}
	}
}

// Color theme: Black & White
body.theme-bw {
	background-color: $bw_bg;
	#menu { 
		background-color: $bw_bg;
		.links {
			li.nav-link {
				&.touching,
				&.active { 
					background-color: $bw_active; 
				}
			}
			.theme-selector li.theme {
				border: 1px solid $bw_bg;
				&:hover,
				&.touching,
				&.active {
					border: 1px solid $bw_active;
				}
			}
			@media (max-width: 400px) {
				// Dropdown menu
				&.hover,
				&.touching { background-color: $bw_active }
			}
		}
	}
	#container {
		.group li {
			&.tile-color1, 
			&.tile-color2,
			&.tile-color3,
			&.tile-color4 { 
				background-color: #333; 
			}
		}
	}
}

// Color theme: Light
body.theme-light {
	
	#menu { 
		background-color: $other_bg;
		color: $other_text;

		.links {

			li.nav-link {
				&.touching,
				&.active {
					background-color: $metro_light_blue;
				}
			}
			.theme-selector li.theme {
				border: 1px solid $other_bg;
				&:hover,
				&.touching,
				&.active { 
					border: 1px solid $metro_light_blue;
				}
			}
			@media (max-width: 400px) {
				// Dropdown menu
				&.hover,
				&.touching {
					background-color: $metro_light_blue;
				}
			}
		}

		.contact {
			.icon {
				@include transition(color, 1s);
				color: $other_text;
			}
		}
	}
	#container {
		background-color: $other_bg;
		color: $other_text;

		.arrow {
			@include transition-double(opacity 1s, color 1s);
			color: $other_text;
		}
		.group li.text-content {
			
			@include transition(color, 1s);
			color: $other_text;

			&.tile-color1 { background-color: $metro_light_orange }
			&.tile-color2 { background-color: $metro_light_yellow }
			&.tile-color3 { background-color: $metro_light_red }
			&.tile-color4 { background-color: $metro_light_pink }
		}
	}
}


// Icons
.icon-computer { @include icon($icon-laptop) }
.icon-photos { @include icon($icon-picture-o) }
.icon-music { @include icon($icon-music) }
.icon-docs { @include icon($icon-file-text-o) }
.icon-links { @include icon($icon-link) }

.icon-example { @include icon($icon-check) }
.icon-home { @include icon($icon-home) }
.icon-fb { @include icon($icon-facebook-square) }
.icon-marker { @include icon($icon-map-marker) }
.icon-music { @include icon($icon-music) }
.icon-graph { @include icon($icon-bar-chart-o) }
.icon-bullseye { @include icon($icon-bullseye) }
.icon-plane { @include icon($icon-plane) }
.icon-flash { @include icon($icon-bolt) }
.icon-camera { @include icon($icon-camera) }
.icon-film { @include icon($icon-film) }
