html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }
  html h1, html h2, html h3, html h4, body h1, body h2, body h3, body h4 {
    margin: 0;
    font-weight: 100; }
  html ul, body ul {
    margin: 0;
    padding: 0; }
    html ul li, body ul li {
      list-style: none; }

body {
  min-width: 270px;
  font-family: "Segoe UI", "Noto Sans", sans-serif;
  color: #fff;
  -webkit-transition: background-color 1s;
  -moztransition: background-color 1s;
  -o-transition: background-color 1s;
  -ms-transition: background-color 1s;
  transition: background-color 1s;
  -webkit-transition: color 1s;
  -moztransition: color 1s;
  -o-transition: color 1s;
  -ms-transition: color 1s;
  transition: color 1s; }
  body img {
    border: none;
    -webkit-transition: -webkit-filter 1s;
    -moztransition: -webkit-filter 1s;
    -o-transition: -webkit-filter 1s;
    -ms-transition: -webkit-filter 1s;
    transition: -webkit-filter 1s; }

.menu {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  border-bottom: 1px solid white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color 1s;
  -moztransition: background-color 1s;
  -o-transition: background-color 1s;
  -ms-transition: background-color 1s;
  transition: background-color 1s; }
  .menu .links ul {
    display: table; }
    .menu .links ul:after {
      content: "";
      display: table;
      clear: both; }
    .menu .links ul li.menu-item {
      float: left;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: background-color 0.4s;
      -moztransition: background-color 0.4s;
      -o-transition: background-color 0.4s;
      -ms-transition: background-color 0.4s;
      transition: background-color 0.4s; }
      .menu .links ul li.menu-item.nav-link {
        cursor: pointer; }

.container .arrow {
  -webkit-transition: opacity 1s;
  -moztransition: opacity 1s;
  -o-transition: opacity 1s;
  -ms-transition: opacity 1s;
  transition: opacity 1s; }
  .container .arrow.hide {
    display: none; }
.container ul.group {
  width: 100%; }
  .container ul.group h2 {
    font-size: 200%;
    text-transform: capitalize; }
  .container ul.group:after {
    content: "";
    display: table;
    clear: both; }
  .container ul.group li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    position: relative;
    font-size: 100%;
    color: #fff;
    overflow: hidden;
    -webkit-transition: background-color 1s;
    -moztransition: background-color 1s;
    -o-transition: background-color 1s;
    -ms-transition: background-color 1s;
    transition: background-color 1s; }
    .container ul.group li:hover, .container ul.group li.touching {
      border: 1px solid white; }
    .container ul.group li .content {
      display: table;
      position: absolute;
      width: 100%;
      height: 100%; }
      .container ul.group li .content .text {
        text-align: center; }
    .container ul.group li.text-content .content {
      -webkit-transition: left 0.5s;
      -moztransition: left 0.5s;
      -o-transition: left 0.5s;
      -ms-transition: left 0.5s;
      transition: left 0.5s; }
      .container ul.group li.text-content .content.main {
        left: 0; }
      .container ul.group li.text-content .content.alt {
        left: 100%; }
      .container ul.group li.text-content .content .icon,
      .container ul.group li.text-content .content .text {
        display: table-cell;
        vertical-align: middle;
        padding: 0.2em; }
      .container ul.group li.text-content .content .title {
        text-transform: capitalize; }
    .container ul.group li.text-content:hover .content.main {
      left: -100%; }
    .container ul.group li.text-content:hover .content.alt {
      left: 0; }
    .container ul.group li.image-content .content {
      -webkit-transition: top 0.5s;
      -moztransition: top 0.5s;
      -o-transition: top 0.5s;
      -ms-transition: top 0.5s;
      transition: top 0.5s; }
      .container ul.group li.image-content .content.main {
        top: 0; }
      .container ul.group li.image-content .content.alt {
        top: 100%; }
      .container ul.group li.image-content .content .text {
        display: table-cell;
        vertical-align: top;
        padding: 0.1em;
        background-color: rgba(0, 0, 0, 0.5); }
      .container ul.group li.image-content .content .image {
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: #000; }
        .container ul.group li.image-content .content .image img {
          width: 100%;
          max-width: 640px;
          max-height: 320px; }
    .container ul.group li.image-content:hover .alt {
      top: 70%; }

body.theme-metro {
  background-color: #00889e; }
  body.theme-metro .menu {
    background-color: #00889e; }
    body.theme-metro .menu .links li.nav-link:hover, body.theme-metro .menu .links li.nav-link.touching, body.theme-metro .menu .links li.nav-link.active {
      background-color: #603cba; }
    body.theme-metro .menu .links .theme-selector li.theme {
      border: 1px solid #00889e; }
      body.theme-metro .menu .links .theme-selector li.theme:hover, body.theme-metro .menu .links .theme-selector li.theme.touching, body.theme-metro .menu .links .theme-selector li.theme.active {
        border: 1px solid #603cba; }
    @media (max-width: 400px) {
      body.theme-metro .menu .links.hover, body.theme-metro .menu .links.touching {
        background-color: #603cba; } }
  body.theme-metro .container .group li.tile-color1 {
    background-color: #d44b28; }
  body.theme-metro .container .group li.tile-color2 {
    background-color: #fdd115; }
  body.theme-metro .container .group li.tile-color3 {
    background-color: #9a1616; }
  body.theme-metro .container .group li.tile-color4 {
    background-color: #b01a40; }

body.theme-bw {
  background-color: black; }
  body.theme-bw .menu {
    background-color: black; }
    body.theme-bw .menu .links li.nav-link:hover, body.theme-bw .menu .links li.nav-link.touching, body.theme-bw .menu .links li.nav-link.active {
      background-color: #999999; }
    body.theme-bw .menu .links .theme-selector li.theme {
      border: 1px solid black; }
      body.theme-bw .menu .links .theme-selector li.theme:hover, body.theme-bw .menu .links .theme-selector li.theme.touching, body.theme-bw .menu .links .theme-selector li.theme.active {
        border: 1px solid #999999; }
    @media (max-width: 400px) {
      body.theme-bw .menu .links.hover, body.theme-bw .menu .links.touching {
        background-color: #999999; } }
  body.theme-bw .container .group li.tile-color1, body.theme-bw .container .group li.tile-color2, body.theme-bw .container .group li.tile-color3, body.theme-bw .container .group li.tile-color4 {
    background-color: #333; }

body.theme-light {
  background-color: white;
  color: #333333; }
  body.theme-light .menu {
    background-color: white; }
    body.theme-light .menu .header img {
      -webkit-filter: invert(0.8); }
    body.theme-light .menu .links .nav-link
    img {
      -webkit-filter: invert(0.8);
      -moz-filter: invert(0.8); }
    body.theme-light .menu .links li.nav-link:hover, body.theme-light .menu .links li.nav-link.touching, body.theme-light .menu .links li.nav-link.active {
      background-color: #96c8e6; }
    body.theme-light .menu .links .theme-selector li.theme {
      border: 1px solid white; }
      body.theme-light .menu .links .theme-selector li.theme:hover, body.theme-light .menu .links .theme-selector li.theme.touching, body.theme-light .menu .links .theme-selector li.theme.active {
        border: 1px solid #96c8e6; }
    @media (max-width: 400px) {
      body.theme-light .menu .links.hover, body.theme-light .menu .links.touching {
        background-color: #96c8e6; } }
  body.theme-light .container .arrow {
    -webkit-filter: invert(0.8); }
  body.theme-light .container .group li.text-content {
    -webkit-transition: color 1s;
    -moztransition: color 1s;
    -o-transition: color 1s;
    -ms-transition: color 1s;
    transition: color 1s;
    color: #333333; }
    body.theme-light .container .group li.text-content.tile-color1 {
      background-color: #ffaf8c; }
    body.theme-light .container .group li.text-content.tile-color2 {
      background-color: #ffff79; }
    body.theme-light .container .group li.text-content.tile-color3 {
      background-color: #fe7a7a; }
    body.theme-light .container .group li.text-content.tile-color4 {
      background-color: #ff7ea4; }
    body.theme-light .container .group li.text-content img {
      -webkit-filter: invert(0.8); }
