@import "colors";
@import "helper";
@import "font-icons";

// Media width
$small: 740px;
$medium: $small + 170px;
$large: $medium + 100px;

// Menu
$imgSize: 48px;
$textHeight: 20px;
$textTopPadding: 2px;
$linkPadding: 10px;
$menuPadding: 15px;
$menuHeight: $imgSize + $textHeight + $textTopPadding + 2*$linkPadding + 2*$menuPadding;

#menu {

	height: $menuHeight;
	padding: $menuPadding;
	
	@include clearfix();

	.header {
		float: left;
		margin: 15px;

		h1 { 
			display: inline-block;
			font-size: 24px;
			font-weight: bold;
		}
		h3 { font-size: 14px }

		@media (max-width: $small) {
			width: 154px;
		}
	}

	.links {
		float: right;
		margin: 0 15px;

		li.nav-link {
			width: 120px;
			margin: 0 1px;
			padding: $linkPadding;

			.icon { @include font-size($imgSize) }
			&:hover {
				&:not(.active) .icon {
					@include font-size($imgSize + 4px);
				}
			}

			.text {
				font-size: 16px;
				line-height: $textHeight;
				padding-top: $textTopPadding;
			}

			@media (max-width: $large) {
				width: 110px;
				padding: $linkPadding - 5px;
			}
			@media (max-width: $medium) {
				width: 82px;
				padding: $linkPadding - 7px;
				.text { font-size: 12px }	
			}
		}

		li.extra {
			@media (max-width: $medium) {
				display: none !important;
			}
			.theme-selector {
				margin-left: 5px;
				$themeMP: 2px;
				$themeImg: 12px;
				ul li.theme {
					@include size($themeImg + 7*$themeMP);
					margin: $themeMP 0;
					padding: $themeMP;
					cursor: pointer;

					@include transition(border-color, 0.4s);

					&:after { 
						content: "";
						display: inline-block;
						@include size($themeImg);
						background-image: url(../img/themes.gif);
						background-repeat: no-repeat;
					}

					&.theme-light:after { background-position: 0 0 }
					&.theme-metro:after { background-position: 0 -12px }
					&.theme-bw:after { background-position: 0 -24px }
				}
			}
		}

		@media (max-width: $large) {
			margin: 0;
		}
	}
}

#container {
	
	margin-top: $menuHeight;

	.arrow.big {
		position: fixed;
		z-index: 10;
		@include font-size(70px);
		right: 1em;
		background-repeat: no-repeat;
		opacity: 0.2;
		cursor: pointer;

		&:hover,
		&.touching { 
			opacity: 1; 
		}

		&.up {
			top: $menuHeight + 50px;
			@include icon($icon-arrow-circle-up);
		}

		&.down {
			bottom: 1em;
			@include icon($icon-arrow-circle-down);
		}
	}

	ul.group {
		width: 70%;
		margin: 40px 5%;

		.arrow.small { display: none }

		h2 { padding: 40px 0 10px 0 }

		li {
			width: 360px;
			height: 180px;
			margin: 10px;

			@include transition-double(background-color 1s, box-shadow 0.5s);
			
			&:hover,
			&.touching { 
				@include box-shadow(10px, 2px, #fff); 
			}

			.icon {
				text-align: center;
				img { @include size(5em) }
			}

			.title {
					position: absolute;
					left: 15px;
					bottom: 10px;
			}

			.text {
				font-size: 150%;
			}

			&.text-content:hover {
				.content.main { left: -100% }
				.content.alt { left: 0 }
			}

			&.image-content:hover {
				.content.alt { top: 70% }
				.content.image { opacity: 1 }
			}

			&.image-small-content {
				width: 180px;
				&:hover {
					.content.alt { top: 75% }
					.content.image { opacity: 1 }
				}
			}
		}
	}
}

// Color theme: Metro pulse
$metro_border_pulse: "metro-border-pulse";
@include define-pulse($metro_border_pulse, "border-color", $metro_purple, $metro_lightblue);
body.theme-metro {
	#menu .links { 
		.theme-selector li.theme.pulse {
			@include pulse-animation($metro_border_pulse);
		}
	}
}

// Color theme: Black & White pulse
$bw_border_pulse: "bw-border-pulse";
@include define-pulse($bw_border_pulse, "border-color", $bw_active, $bw_bg);
body.theme-bw {
	#menu .links { 
		.theme-selector li.theme.pulse {
			@include pulse-animation($bw_border_pulse);
		}
	}
}

// Color theme: Light pulse
$light_border_pulse: "light-border-pulse";
@include define-pulse($light_border_pulse, "border-color", $metro_light_blue, $other_bg);
body.theme-light {
	#menu .links { 
		.theme-selector li.theme.pulse {
			@include pulse-animation($light_border_pulse);
		}
	}

	#container .group li {
		@include transition-double(border 0.5, box-shadow 0.5s);
		&:hover,
		&.touching {
			border: 1px solid #333;
			@include box-shadow(10px, 2px, #333);
		}
	}
}

.is-desktop-hidden {
	display: none;
}