@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.eot?v=4.0.3");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=4.0.3") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.0.3") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

#menu {
  height: 120px;
  padding: 15px; }
  #menu:after {
    content: "";
    display: table;
    clear: both; }
  #menu .header {
    float: left;
    margin: 15px; }
    #menu .header h1 {
      display: inline-block;
      font-size: 24px;
      font-weight: bold; }
    #menu .header h3 {
      font-size: 16px; }
    #menu .header .contact {
      display: inline-block;
      padding: 5px 10px; }
      #menu .header .contact a {
        display: inline-block;
        color: #fff;
        text-decoration: none; }
      #menu .header .contact .icon {
        font-size: 20px;
        line-height: 20px;
        opacity: 0.5; }
        #menu .header .contact .icon:hover, #menu .header .contact .icon.touching {
          opacity: 1; }
      #menu .header .contact .icon-mail:before {
        font-family: "FontAwesome";
        content: "\f0e0";
        speak: none;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased; }
      #menu .header .contact .icon-linkedin:before {
        font-family: "FontAwesome";
        content: "\f08c";
        speak: none;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased; }
    @media (max-width: 740px) {
      #menu .header {
        width: 154px; }
        #menu .header h3 {
          display: none; }
        #menu .header .contact {
          padding-left: 0; } }
  #menu .links {
    float: right;
    margin: 0 15px; }
    #menu .links li.nav-link {
      width: 120px;
      margin: 0 1px;
      padding: 10px; }
      #menu .links li.nav-link .icon {
        font-size: 48px;
        line-height: 48px; }
      #menu .links li.nav-link:hover:not(.active) .icon {
        font-size: 52px;
        line-height: 52px; }
      #menu .links li.nav-link .text {
        font-size: 16px;
        line-height: 20px;
        padding-top: 2px; }
      @media (max-width: 1010px) {
        #menu .links li.nav-link {
          width: 110px;
          padding: 5px; } }
      @media (max-width: 910px) {
        #menu .links li.nav-link {
          width: 82px;
          padding: 3px; }
          #menu .links li.nav-link .text {
            font-size: 12px; } }
    @media (max-width: 910px) {
      #menu .links li.extra {
        display: none !important; } }
    #menu .links li.extra .theme-selector {
      margin-left: 5px; }
      #menu .links li.extra .theme-selector ul li.theme {
        width: 26px;
        height: 26px;
        margin: 2px 0;
        cursor: pointer;
        -webkit-transition: border-color 0.4s;
        -moztransition: border-color 0.4s;
        -o-transition: border-color 0.4s;
        -ms-transition: border-color 0.4s;
        transition: border-color 0.4s; }
        #menu .links li.extra .theme-selector ul li.theme:after {
          content: "";
          display: inline-block;
          width: 12px;
          height: 12px;
          background-image: url(../img/themes.gif);
          background-repeat: no-repeat; }
        #menu .links li.extra .theme-selector ul li.theme.theme-light:after {
          background-position: 0 0; }
        #menu .links li.extra .theme-selector ul li.theme.theme-metro:after {
          background-position: 0 -12px; }
        #menu .links li.extra .theme-selector ul li.theme.theme-bw:after {
          background-position: 0 -24px; }
    @media (max-width: 1010px) {
      #menu .links {
        margin: 0; } }

#container {
  margin-top: 120px; }
  #container .arrow.big {
    position: fixed;
    z-index: 10;
    font-size: 70px;
    line-height: 70px;
    right: 1em;
    background-repeat: no-repeat;
    opacity: 0.2;
    cursor: pointer; }
    #container .arrow.big:hover, #container .arrow.big.touching {
      opacity: 1; }
    #container .arrow.big.up {
      top: 170px; }
      #container .arrow.big.up:before {
        font-family: "FontAwesome";
        content: "\f0aa";
        speak: none;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased; }
    #container .arrow.big.down {
      bottom: 1em; }
      #container .arrow.big.down:before {
        font-family: "FontAwesome";
        content: "\f0ab";
        speak: none;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased; }
  #container ul.group {
    width: 70%;
    margin: 0 5%; }
    #container ul.group .arrow.small {
      display: none; }
    #container ul.group h2 {
      padding: 20px 0 10px 0; }
    #container ul.group li {
      width: 360px;
      height: 180px;
      margin: 10px;
      -webkit-transition: background-color 1s, box-shadow 0.5s;
      -moztransition: background-color 1s, box-shadow 0.5s;
      -o-transition: background-color 1s, box-shadow 0.5s;
      -ms-transition: background-color 1s, box-shadow 0.5s;
      transition: background-color 1s, box-shadow 0.5s; }
      #container ul.group li:hover, #container ul.group li.touching {
        -moz-box-shadow: 0 0 10px 2px white;
        -webkit-box-shadow: 0 0 10px 2px white;
        box-shadow: 0 0 10px 2px white; }
      #container ul.group li .icon {
        text-align: center; }
        #container ul.group li .icon img {
          width: 5em;
          height: 5em; }
      #container ul.group li .title {
        position: absolute;
        left: 15px;
        bottom: 10px; }
      #container ul.group li .text {
        font-size: 150%; }
      #container ul.group li.text-content:hover .content.main {
        left: -100%; }
      #container ul.group li.text-content:hover .content.alt {
        left: 0; }
      #container ul.group li.image-content:hover .content.alt {
        top: 70%; }
      #container ul.group li.image-content:hover .content.image {
        opacity: 1; }
      #container ul.group li.image-small-content {
        width: 180px; }
        #container ul.group li.image-small-content:hover .content.alt {
          top: 70%; }
        #container ul.group li.image-small-content:hover .content.image {
          opacity: 1; }

@keyframes metro-border-pulse {
  0% {
    border-color: #603cba; }

  40% {
    border-color: #00889e; }

  60% {
    border-color: #00889e; }

  100% {
    border-color: #603cba; } }

@-webkit-keyframes metro-border-pulse {
  0% {
    border-color: #603cba; }

  40% {
    border-color: #00889e; }

  60% {
    border-color: #00889e; }

  100% {
    border-color: #603cba; } }

body.theme-metro #menu .links .theme-selector li.theme.pulse {
  animation-name: metro-border-pulse;
  -webkit-animation-name: metro-border-pulse;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

@keyframes bw-border-pulse {
  0% {
    border-color: #999999; }

  40% {
    border-color: black; }

  60% {
    border-color: black; }

  100% {
    border-color: #999999; } }

@-webkit-keyframes bw-border-pulse {
  0% {
    border-color: #999999; }

  40% {
    border-color: black; }

  60% {
    border-color: black; }

  100% {
    border-color: #999999; } }

body.theme-bw #menu .links .theme-selector li.theme.pulse {
  animation-name: bw-border-pulse;
  -webkit-animation-name: bw-border-pulse;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

@keyframes light-border-pulse {
  0% {
    border-color: #96c8e6; }

  40% {
    border-color: white; }

  60% {
    border-color: white; }

  100% {
    border-color: #96c8e6; } }

@-webkit-keyframes light-border-pulse {
  0% {
    border-color: #96c8e6; }

  40% {
    border-color: white; }

  60% {
    border-color: white; }

  100% {
    border-color: #96c8e6; } }

body.theme-light #menu .links .theme-selector li.theme.pulse {
  animation-name: light-border-pulse;
  -webkit-animation-name: light-border-pulse;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }
body.theme-light #container .group li {
  -webkit-transition: border 0.5, box-shadow 0.5s;
  -moztransition: border 0.5, box-shadow 0.5s;
  -o-transition: border 0.5, box-shadow 0.5s;
  -ms-transition: border 0.5, box-shadow 0.5s;
  transition: border 0.5, box-shadow 0.5s; }
  body.theme-light #container .group li:hover, body.theme-light #container .group li.touching {
    border: 1px solid #333;
    -moz-box-shadow: 0 0 10px 2px #333333;
    -webkit-box-shadow: 0 0 10px 2px #333333;
    box-shadow: 0 0 10px 2px #333333; }

.is-desktop-hidden {
  display: none; }
