@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.eot?v=4.0.3");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=4.0.3") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.0.3") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

#menu {
  height: 62px;
  padding: 5px; }
  #menu .header {
    position: absolute;
    padding: 5px; }
    #menu .header h1 {
      font-size: 18px;
      font-weight: bold; }
    #menu .header h3 {
      font-size: 12px; }
  #menu .links {
    position: absolute;
    right: 0; }
    #menu .links ul li.nav-link {
      padding: 10px; }
      #menu .links ul li.nav-link .icon {
        font-size: 32px;
        line-height: 32px; }
      #menu .links ul li.nav-link .text {
        display: none; }
    #menu .links ul li.extra {
      display: none; }
    @media (max-width: 430px) {
      #menu .links {
        width: 52px;
        height: 52px;
        font-size: 48px;
        line-height: 48px;
        cursor: pointer; }
        #menu .links:before {
          font-family: "FontAwesome";
          content: "\f0c9";
          speak: none;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased; }
        #menu .links:before {
          margin-left: 5px; }
        #menu .links ul {
          display: none;
          margin-top: 5px;
          background-color: rgba(0, 0, 0, 0.5); } }

#container {
  margin-top: 62px; }
  #container .arrow.big {
    display: none; }
  #container ul.group {
    width: 100%%;
    padding: 2em 0; }
    #container ul.group h2 {
      margin: 10px; }
    #container ul.group .arrow.small {
      position: absolute;
      margin-top: -5px;
      font-size: 80px;
      line-height: 60px;
      background-repeat: no-repeat;
      opacity: 0.2;
      cursor: pointer; }
      #container ul.group .arrow.small:hover, #container ul.group .arrow.small.touching {
        opacity: 1; }
      #container ul.group .arrow.small.up {
        right: 100px; }
        #container ul.group .arrow.small.up:before {
          font-family: "FontAwesome";
          content: "\f0d8";
          speak: none;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased; }
      #container ul.group .arrow.small.down {
        right: 10px; }
        #container ul.group .arrow.small.down:before {
          font-family: "FontAwesome";
          content: "\f0d7";
          speak: none;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased; }
    #container ul.group li {
      width: 100%;
      height: 120px;
      margin: 5px 0;
      font-size: 170%; }
      #container ul.group li .icon {
        width: 30%; }
      #container ul.group li .title {
        position: relative;
        display: table-cell;
        vertical-align: middle; }
      #container ul.group li .text {
        font-size: 80%; }
      #container ul.group li.text-content.swiped .content.main {
        left: -100%; }
      #container ul.group li.text-content.swiped .content.alt {
        left: 0; }
      #container ul.group li.image-content .content.alt, #container ul.group li.image-small-content .content.alt {
        top: 70%; }

#overlay .content {
  padding: 20px; }

.is-mobile-hidden {
  display: none; }
