@import "colors";
@import "helper";
@import "font-icons";

// Menu
$imgSize: 32px;
$linkPadding: 10px;
$linkWidth: $imgSize + 2*$linkPadding;
$menuPadding: 5px;
$menuHeight: $linkWidth + 2*$menuPadding;

#menu {
	
	height: $menuHeight;
	padding: $menuPadding;

	.header {
		position: absolute;
		h1 { 
			padding: 5px;
			font-size: 18px;
			font-weight: bold;
		}
		h3 { display: none }

		.contact {
			display: none;
		}
	}

	.links {
		position: absolute;
		right: 0;

		ul {
			li.nav-link {
				padding: $linkPadding;
				.icon {
					font-size: $imgSize;
					line-height: $imgSize;
				}

				.text {
					display: none;
				}
			}
			li.extra {
				display: none;
			}
		}

		// Create dropdown menu to the right of the header
		@media (max-width: 400px) {

			$offset: ($linkWidth - $imgSize) / 2;
			
			@include size($linkWidth);
			@include font-size($linkWidth - 4px);
			@include icon($icon-bars);
			cursor: pointer; // Used in js. Do not remove.

			&:before {
				margin-left: 5px;
			}
			
			ul {
				display: none;
				margin-top: 5px;
				background-color: rgba(0,0,0,0.5);
			}
		}
	}
}

#container {

	margin-top: $menuHeight;
	
	.arrow.big {
		display: none;
	}

	ul.group {
		width: 100%%;
		padding: 2em 0;

		h2 { margin: 10px }

		.arrow.small {
			$size: 80px;
			position: absolute;
			margin-top: -5px;
			font-size: $size;
			line-height: $size - 20px;
			background-repeat: no-repeat;
			opacity: 0.2;
			cursor: pointer;

			&:hover,
			&.touching {
				opacity: 1;
			}

			&.up {
				right: $size + 20px;
				@include icon($icon-caret-up);
			}

			&.down {
				right: 10px;
				@include icon($icon-caret-down);
			}
		}

		li {
			width: 100%;
			height: 5em;
			margin: 0;
			font-size: 170%;

			.icon {
				width: 30%;
			}

			.title {
				position: relative;
				display: table-cell;
				vertical-align: middle;
			}

			.text {
				font-size: 80%;
			}

			&.image-content {
				.content.alt { top: 70% }
			}
		}

	}
}

.is-mobile-hidden {
	display: none;
}